/* ---Mini CSS reset--- */

body, p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
}

/* ---Utility Classes--- */

.hidden {
   display: none;
}

.box {
   background-color: powderblue;
   color: rgb(27, 27, 27);
   border-radius: 5px;
   padding: 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:10px;
 }

/* ---Mobile Library Grid Styles--- */

 .grid-con { 
   display: grid;
   grid-template-columns: repeat(4, 80.5px);
   grid-column-gap: 20px;
   max-width: 412px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

.grid-full {
   display: grid;
   grid-template-columns: 412px;
   grid-column-gap: 30px;
}

/* A keyword indicating that the property contributes nothing to the grid item's placement, indicating auto-placement, an automatic span, or a default span of 1. */
.col-auto {grid-column: auto;}
.col-span-1	{grid-column: span 1;}
.col-span-2	{grid-column: span 2;}
.col-span-3	{grid-column: span 3;}
.col-span-4	{grid-column: span 4;}
.col-span-full {grid-column: 1 / -1;}

.col-start-1	{grid-column-start: 1;}
.col-start-2	{grid-column-start: 2;}
.col-start-3	{grid-column-start: 3;}
.col-start-4	{grid-column-start: 4;}
.col-start-auto {grid-column-start: auto;}

.col-end-1	{grid-column-end: 1;}
.col-end-2	{grid-column-end: 2;}
.col-end-3	{grid-column-end: 3;}
.col-end-4	{grid-column-end: 4;}
.col-end-5	{grid-column-end: 5;}
.col-end-auto	{grid-column-end: auto;}