/* ---Mini CSS reset--- */

body, p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
}

/* ---Utility Classes--- */

.hidden {
   display: none;
}

.box {
   background-color: powderblue;
   color: rgb(27, 27, 27);
   border-radius: 5px;
   padding: 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:10px;
 }

/* ---Mobile Library Grid Styles--- */

 .grid-con { 
   display: grid;
   grid-template-columns: repeat(4, 80.5px);
   grid-column-gap: 20px;
   max-width: 412px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

.grid-full {
   display: grid;
   grid-template-columns: 412px;
   grid-column-gap: 30px;
}

/* A keyword indicating that the property contributes nothing to the grid item's placement, indicating auto-placement, an automatic span, or a default span of 1. */
.col-auto {grid-column: auto;}
.col-span-1	{grid-column: span 1;}
.col-span-2	{grid-column: span 2;}
.col-span-3	{grid-column: span 3;}
.col-span-4	{grid-column: span 4;}
.col-span-full {grid-column: 1 / -1;}

.col-start-1	{grid-column-start: 1;}
.col-start-2	{grid-column-start: 2;}
.col-start-3	{grid-column-start: 3;}
.col-start-4	{grid-column-start: 4;}
.col-start-auto {grid-column-start: auto;}

.col-end-1	{grid-column-end: 1;}
.col-end-2	{grid-column-end: 2;}
.col-end-3	{grid-column-end: 3;}
.col-end-4	{grid-column-end: 4;}
.col-end-5	{grid-column-end: 5;}
.col-end-auto	{grid-column-end: auto;}

/*desktop grid*/

.desk-grid-con {
   display: grid;
   width: 1200px;
   grid-template-columns: repeat(12, 79px);
   grid-column-gap: 20px;
   margin: 0 auto;
   padding-left: 16px;
   padding-right: 16px;
}

.desk-grid-full {
   display: grid;
   grid-template-columns: 1200px;
   margin: 0 auto;
   width: 1200px;

}

.desk-col-span-1 {grid-column: span 1;}
.desk-col-span-2 {grid-column: span 2;}
.desk-col-span-3 {grid-column: span 3;}
.desk-col-span-4 {grid-column: span 4;}
.desk-col-span-5 {grid-column: span 5;}
.desk-col-span-6 {grid-column: span 6;}
.desk-col-span-7 {grid-column: span 7;}
.desk-col-span-8 {grid-column: span 8;}
.desk-col-span-9 {grid-column: span 9;}
.desk-col-span-10 {grid-column: span 10;}
.desk-col-span-11 {grid-column: span 11;}
.desk-col-span-12 {grid-column: span 12;}
.desk-col-span-full {grid-column: 1/-1;}

.desk-col-start-1 {grid-column-start: 1;}
.desk-col-start-2 {grid-column-start: 2;}
.desk-col-start-3 {grid-column-start: 3;}
.desk-col-start-4 {grid-column-start: 4;}
.desk-col-start-5 {grid-column-start: 5;}
.desk-col-start-6 {grid-column-start: 6;}
.desk-col-start-7 {grid-column-start: 7;}
.desk-col-start-8 {grid-column-start: 8;}
.desk-col-start-9 {grid-column-start: 9;}
.desk-col-start-10 {grid-column-start: 10;}
.desk-col-start-11 {grid-column-start: 11;}
.desk-col-start-12 {grid-column-start: 12;}

.desk-col-end-2 {grid-column-end: 2;}
.desk-col-end-3 {grid-column-end: 3;}
.desk-col-end-4 {grid-column-end: 4;}
.desk-col-end-5 {grid-column-end: 5;}
.desk-col-end-6 {grid-column-end: 6;}
.desk-col-end-7 {grid-column-end: 7;}
.desk-col-end-8 {grid-column-end: 8;}
.desk-col-end-9 {grid-column-end: 9;}
.desk-col-end-10 {grid-column-end: 10;}
.desk-col-end-11 {grid-column-end: 11;}
.desk-col-end-12 {grid-column-end: 12;}
.desk-col-end-13 {grid-column-end: 13;}

